* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.centrar{
    display: flex;
    flex-direction: row;
}
.centrar3{
  display: flex;
  flex-direction: row;
  flex-direction:initial;
  align-items: center;
}


.centrar2{
  display: flex;
  flex-direction: row;
  flex-direction:initial;
}
.favIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70px;
    padding: 10px;
  }
a{
  color:black;
}
  .NavBar{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 218, 6);
    font-size: 1.15rem;
    margin: auto;
    align-items: center;
    height: 60px;
    justify-content: space-between;
  }
  
  .Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Option {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 100px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: #969304;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .ActiveOption {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 250px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: #969304;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .NavLink {
    color :rgb(255, 0, 0)
  }